@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,700"');

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  font-size: x-large;
  /* margin: 5%; */
 /* display: flex;
  flex-direction: column;
  align-items: center;  */
}

.top{
  margin-top: 5%;
}

.header {
  margin-bottom: 5%;
  background-color: rgba(255, 255, 255, 0.911);
  border-radius: 7px;
  padding: 10px;
  font-size: x-large;
  color: rgb(0, 0, 0);
}

.backBtn{
  margin-left: 45%;
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color: black;
  border-color: white;
}

.backBtn:hover{
  color: aquamarine;
  background-color: black;
  border-color: rgb(0, 0, 0);
}


img {
  border-radius: 10px;
  margin-left: 1rem;
  margin-right: 2rem;
}

.storeTitle {
  margin-bottom: 50px;
}

.text {
  font-size: auto;
  margin: 7px;
}

.storeTitle {
  margin-left: 10px; 
}

.textCategory {
  padding: auto;
  padding-bottom: auto;
  padding-left:2px;
  padding-right:2px;
  border-radius: 3px;
  background-color: rgba(0, 160, 147, 0.747);
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 3px rgb(0, 0, 0);
  font-size: medium;
 justify-content: center;
}

.modalSpinner{
  background-color: black;
  position: absolute;
  top:0;
  right:0;
}
