.orderInfo{
    padding-bottom: 10rem;
    position: relative;

}

.dropdown {
    width: 150px;
  }

.text{
    width: 60%;
    height: auto;
    padding-top: 1rem;
} 

.textNotes{
    width: 60%;
    height: auto;
    padding-top: 1rem;
} 

